# Django static collected files
staticfiles/

# Media uploads
media/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Zip files
accounts.zip

students/static/images/debug.log
*.log



# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# Media uploads
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

